    *,
    *::before,
    *::after * {
        box-sizing: border-box;
    }
    
    body {
        font: "Secular One", "sans-serif";
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 150%;
        background-image: url("./img/eating_burger1.jpg");
    }
    
    .jumbotron {
        text-align: center;
        border: solid black;
    }
    
    h1 {
        font-family: "Ranchers", cursive;
        text-shadow: 3px 2px 2px blanchedalmond;
    }
    
    h2 {
        font-family: "Secular One", sans-serif;
        text-align: center;
        text-shadow: 3px 2px 2px blanchedalmond;
    }
    
    p {
        font-family: 'Oswald', sans-serif;
        font-weight: 600;
        text-shadow: 10px;
    }
    
    .card {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-left: 400px;
        margin-right: 400px;
        margin-top: 100px;
        align-items: left;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(0, 0, 0, 0.4)!important;
        width: 550px;
    }
    
    .input-group.mb-3 {
        position: relative;
        width: auto;
        flex-wrap: inherit;
        display: inline-flex;
    }
    
    #button-addon2 {
        display: inline-block;
        background-color: orange;
        border: solid;
        color: #fff;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        padding: 8px 13px;
        font-size: 16px;
        border-radius: 4px;
    }
    
    .btn:hover {
        background-color: #d16629;
    }
    
    .btn:active {
        background-color: #d16629;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    #newBurger {
        box-shadow: 0px 4px 6px 0px rgb(240, 80, 7);
        padding: 20px;
        font-size: 14px black;
        font-family: 'Montserrat', sans-serif;
        margin: 5px;
    }
    
    .custom-list {
        list-style: none;
        padding-left: 60px;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
    }
    
    .custom-list li {
        position: relative;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .custom-list li:before {
        content: '';
        width: 35px;
        height: 35px;
        position: absolute;
        background-image: url("./img/hamburger-cartoon.jpg");
        background-size: cover;
        background-position: center;
        left: 0;
        top: 60%;
        transform: translateY(-55%);
    }
    
    .input-group {
        padding: 5px;
    }
    
    @media screen and (max-width: 168px) {
        body {
            background-color: #333;
        }
        .wrapper {
            /* Box-model */
            width: 100%;
            padding: 20px;
        }
        #main-content,
        #sidebar {
            width: 100%;
        }
        #sidebar {
            margin-top: 40px;
        }
    }